[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=SakugaKR
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=SakugaKR
Comment=SakugaKR